body {
    background-color: rgb(255, 255, 224);
    margin: 20px;
}

p {
    font-size: 12px;
}

.italic {
    font-style: italic;
}

.header {
    text-align: center;
    font-size: 14px;
    color:  red;
}

.chapter {
    text-align: center;
    font-size: 14px;
}